<div id="tlform">
<%= render :partial => "form", :locals => {:button_label => "Registrar", :title => "Novo registro de tempo trabalhado"} %>
</div>
<div id="tltable">
<%= render :partial => "past_tasks" %>
</div>
